[Unit]
DescriptionJAPAN SCIENTIST AI JAM Questions Service
After=mysql.service network-online.target
Requires=mysql.service network-online.target

[Service]
Type=exec
User=agpt
ExecStart=/bin/bash /app/questions-ui/startapp.sh
RestartSec=3
Restart=always

[Install]
WantedBy=multi-user.target
